<div class="page-header">
  <h1 class="title">Definiciones/Crear - Editar Usuarios</h1>
  <ol class="breadcrumb">
    <li class="active">This is a quick overview of some features</li>
  </ol>

</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Username</td>
      <td>email</td>
      <td>Nombre</td>
      <td>Tipo de usuario</td>
      <td>
      <% if policy(@users).new? %>
        <%= link_to new_panel_user_path do %>
          <i class="fa fa-plus"></i></td>
        <% end %>
      <% else %>
        <%= link_to '#', disabled: 'disabled' do %>
            <i class="fa fa-plus"></i>
          <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>

        <td><%= user.role_i18n %></td>
        <td>
          <%= link_to edit_panel_user_path(user) do %>
            <i class="fa fa-pencil"></i>
          <% end %>

          <% if (current_user.id != user.id) %>
            <%= link_to panel_user_path(user), method: :delete, data: {confirm: t('messages.confirm_with', item: user.name )} do %>
               <i class="fa fa-close"></i>
            <% end %>
          <% else %>
            <%= link_to '#', disabled: 'disabled' do %>
                <i class="fa fa-close"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
     <% end %>
  </tbody>
</table>